*{
  box-sizing: border-box;  
}
body{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height:600px;
    border: 1px solid crimson;
}
.grid-item{
    width:calc(100% / 16);
    border: 1px solid black;

}
.button{
   margin: 20px;
}
.button #btn{
    width: 150px;
    padding: 8px;
    font-size: 17px;
}
